<!DOCTYPE html>
<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
    </head>
    <body style="margin: 0; padding: 0;">
    	<div class="doc-container">
		<div id="sidebar">
		{{ sidebarHtml | raw }}
		</div>
		<div id="main">
			<h1>{{ class.name }}</h1>

			<div id="shortdescription" class="description">{{ class.shortDescription }}</div>

			<div id="longdescription" class="description">{{ class.longDescription | markdown }}</div>

			<div id="grid">
				{% if class.AllProperties is not empty %}
				<span class="h2">Fields</span>
				{% for property in class.AllProperties %}
				<div class="property_name">
					<span class="keyword">{{ property.visibility }}
					{% if property.isStatic %}
					static
					{% endif %}
					{% if property.isAbstract %}
					abstract
					{% endif %}
					{% if property.isFinal %}
					final
					{% endif %}
					</span>
					{{ property.name }}:
					<span class="keyword">{{ property.type.Link | raw }}</span>
				</div>
				<div class="property_short_description">{{ property.shortDescription | markdown }}</div>
				{% endfor %}
				{% endif %}

				<span class="h2">Constructor</span>
				<div class="method_name">__construct({% for param in class.Constructor.parameters %}<span class="keyword">{{ param.type.Link | raw }}</span>
					<span class="parameter_name">{{ param.name }}</span>{% if not loop.last %}, {% endif %}
					{% endfor %})
				</div>
				<div class="method_description">
					{{ class.Constructor.shortDescription | markdown }}
					{{ class.Constructor.longDescription | markdown }}
				</div>

				{% if class.AllMethods is not empty %}
				<span class="h2">Methods</span>
				{% for method in class.AllMethods %}
				<div class="method_name">
					<span class="keyword">
					{{ method.visibility }}
					{% if method.isStatic %}
					static
					{% endif %}
					{% if method.isAbstract %}
					abstract
					{% endif %}
					{% if method.isFinal %}
					final
					{% endif %}
					</span>
					{{ method.name }}({% for param in method.parameters %}<span class="keyword">{{ param.type.Link | raw }}</span>
					<span class="parameter_name">{{ param.name }}</span>{% if not loop.last %}, {% endif %}
					{% endfor %}):
					<span class="keyword">{{ method.returnType.Link | raw }}</span>
				</div>
				<div class="method_description">
					{{ method.shortDescription | markdown }}
					{{ method.longDescription | markdown }}
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
